<link rel="stylesheet" type="text/css" href="/assets/mailer/order.css" />

<div class="row">
 <div class="col-md-12">

  <h2> 訂單明細 </h2>

  <table class="table table-borderd">=
    <tr class="header-top">
      <td width="80%">商品明細</td>
      <td>單價</td>
    </tr>
    <tbody>
      <% @order_items.each do |order_item| %>
      <tr>
        <td>           
          <%= order_item.product_name %>
        </td>
        <td> <%= order_item.price %> </td>
      </tr>
      <% end %>

    </tbody>
  </table>


  <div class="total group">
    <span class="pull-right">
     <span> 總計 <%= @order.total %> NTD  
     </span>
   </div>

   <hr>

   <h2> 寄送資訊 </h2>

   <table class="table table-striped table-borderd">
     <tr class="header-top">
      <td> 訂購人 </td>

    </tr>

    <tr class="header-top">
      <td> 
        <%= @order_info.billing_name %> - <%= @order_info.billing_address %>
      </td>
    </tr>

    <tr class="header-top">
      <td> 收貨人 </td>

    </tr>

    <tr class="header-top">
      <td> 
        <%= @order_info.billing_name %> - <%= @order_info.billing_address %>
      </td>
    </tr>

  </tbody>

</table>





</div>


</div>
